<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <ul>
    <% if (messages) { %>
  <% messages.forEach((message) => { %>
      <li>
        <%= message.title %> : <%= message.text %> / <%= message.timestamp %> /
        <% if (user?.clubs) { %>
          <% user.clubs.forEach((club) => { %>
            <%= club %>
          <% }) %>
        <% } %>
      </li>
  <% }) %>
<% } %>

    </ul>
    <a href="/create-message">create message</a>
    <a href="/log-out">log out</a>
  </body>
</html>
