<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form
      action="/join-club"
      method="post">
      <fieldset>
        <legend>join club</legend>

        <input
          type="radio"
          name="club"
          id="book" /><label for="book">book</label>
        <input
          type="radio"
          name="club"
          id="sci" /><label for="sci">sci-fi</label>
      </fieldset>
      <label for="passcode">put the secret passcode to join</label>
      <input
        type="password"
        name="passcode"
        id="passcode" />

      <button>submit</button>
    </form>
  </body>
</html>
