<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form
      action="/sign-up"
      method="post">
      <label for="firstName">first name</label
      ><input
        type="text"
        name="firstName" />
      <label for="lastName">last name</label
      ><input
        type="text"
        name="lastName" />
      <label for="username">username</label>
      <input
        type="text"
        name="username" />
      <label for="password">password</label>
      <input
        type="password"
        name="password" />
      <label for="confirmPassword">confirm password</label
      ><input
        type="password"
        name="confirmPassword" />
      <input
        type="submit"
        value="Sign Up" />
    </form>
  </body>
</html>
